/* styles go here */
html {
  display: block;
}

form {
  display: block;
  margin-top: 0;
}

head {
  display: none;
}

body {
  display: block;
  margin: 8px;
}

fieldset {
  margin: 0 2px 20px;
}

fieldset label:last-of-type {
  margin: 0;
}

.first__area {
  display: block;
  margin: 0 0 10px;
}
