/* styles go here */
.body {
  display: block;
  margin: 8px;
}

.main__form {
  display: block;
  margin-top: 0;
}

.fieldset {
  margin: 0 2px 20px;
}

fieldset label:last-of-type {
  margin: 0;
}

.first__area {
  display: block;
  margin: 0 0 10px;
}
